@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  margin: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: "Spoqa Han Sans", "Sans-serif";
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: #a8c0e4;
  /* background: rgb(168, 192, 228);
  background: -moz-linear-gradient(
    top,
    rgb(98, 108, 187) 0%,
    rgb(168, 192, 228) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(98, 108, 187) 0%,
    rgb(168, 192, 228) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(98, 108, 187) 0%,
    rgb(168, 192, 228) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626cbb', endColorstr='#a8c0e4',GradientType=0 ); */

  background-image: url("/img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffd602;
  overflow: hidden;
  /* #626cbb */
  font-size: 36px;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  /* transform: translateX(100px); */
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* .screen > div {
  flex: auto;
} */

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5em;
}
.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #7f7f7f;
}
.category-item {
  width: 100%;
  height: auto;
  padding: 12px;
  font-size: 0.8em;
  font-weight: 300;
}
.category-item.selected {
  background-color: #ffd602;
  color: #7f7f7f;
  font-weight: 700;
}
.goods {
  /* width: 100%; */
  height: 100%;
  flex: 2;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* background-color: blue; */
  /* flex-wrap: wrap;
  justify-content: space-around; */
}
.goods-item {
  width: 33%;
  height: 0;
  padding-bottom: 50%;
  /* background-color: red; */
  /* flex: 1 0 auto;
   */
  position: relative;
  float: left;
}
.goods-item.selected .goods-item-inside {
  background-color: #ffd602;
}
.goods-item .goods-item-inside {
  width: 98%;
  height: 98%;
  position: absolute;
  left: 1%;
  top: 1%;
  background-color: #ffffff;
  font-weight: 300;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 4px;
}
.goods-item .goods-item-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #f7f7f7;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.goods-item .goods-item-name {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 0.8em;
  font-weight: 300;
}
.goods-item .goods-item-price {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 0.6em;
  font-weight: 700;
  color: #7f7f7f;
}
.goods-item.selected .goods-item-price {
  /* color: #ffd602; */
}
.goods-item .goods-item-price::after {
  content: "P";
}
.summary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1em;
  background-color: #ffffff;
  color: #000000;
}
.summary > div {
  background-color: #ffffff;
}
.button,
.button:visited {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 2em 2em;
  background-color: green;
  color: #ffffff;
}
.vertical-middle > * {
  vertical-align: middle;
}
.bg-white {
  background: #ffffff;
  color: #331509;
}
.pd-1 {
  padding: 4px;
}
.slick-slide {
  height: 100%;
}
.slick-slide > div {
  height: 100%;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}

.slick-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.screen:target {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
